<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>División de pantalla</title>
    <style>
        .button,
        .button2 {
            @apply text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out;
        }

        .button:hover,
        .button2:hover {
            @apply bg-purple-700;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto flex h-screen">
        <div class="left-panel w-1/4 bg-gray-900 flex flex-col justify-end items-center p-8 text-white">
            <a href="#" class="button mb-4"><span class="icon-home3 mr-2"></span> Tickets</a>
            <a href="#" class="button mb-4"><span class="icon-home3 mr-2"></span> Tickets Cancelados</a>
        </div>
        <div class="right-panel w-3/4 bg-white flex flex-col">
            <div class="top-subpanel h-9 bg-green-200 text-center">

                Tickets cancelados
            </div>

            <a href="#" class="button2 py-4 text-black text-center"><span class="icon-home3 mr-2"></span> Buscar Tickets</a>
            <div class="container mx-auto flex flex-col flex-1 p-4">
                <table class="w-full bg-white border shadow-lg rounded-lg">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Tipo</th>
                            <th class="px-4 py-2">Estatus</th>
                            <th class="px-4 py-2">Fecha</th>
                            <th class="px-4 py-2">PDF</th>
                            <th class="px-4 py-2">Cambiar estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td class="border px-4 py-2"></td>
                            <td class="border px-4 py-2"></td>
                            <td class="border px-4 py-2"></td>
                            <td class="border px-4 py-2"></td>
                            <td class="border px-4 py-2"></td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="navigation flex justify-between mt-4">
                    <a href="#" class="button2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Anterior</a>
                    <a href="#" class="button2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Siguiente</a>
                </div>
            </div>
            <div class="top-subpanel flex-grow">
               
            </div>
            <div class="bottom-subpanel h-5 bg-green-200 text-center">
                MACUIN DASHBOARD ©
            </div>
        </div>
    </div>
</body>
</html>

