


  <style>
    /* Estilo personalizado para los botones */
    .custom-button {
      background-color: #020018;
    }
  </style>
<body class="bg-gray-200 flex justify-center items-center h-screen">

  

  <!-- Modal de confirmación de ticket -->
  <div id="confirmationModal" class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-white rounded-lg p-8 max-w-md mx-auto">
      <!-- Mensaje de confirmación -->
      <p class="text-center mb-4">Se agregó el ticket correctamente.</p>
      <!-- Botón de aceptar -->
      <button id="confirmTicketButton" class="custom-button text-white font-bold py-2 px-4 rounded w-full">
        Aceptar
      </button>
    </div>
  </div>

  <script>
    // Acceder al botón de abrir el modal de confirmación de ticket
    const openConfirmationModalButton = document.getElementById('openConfirmationModalButton');
    // Acceder al modal de confirmación de ticket
    const confirmationModal = document.getElementById('confirmationModal');
    // Acceder al botón de confirmar ticket
    const confirmTicketButton = document.getElementById('confirmTicketButton');

    // Función para mostrar el modal de confirmación de ticket
    function openConfirmationModal() {
      confirmationModal.classList.remove('hidden');
    }

    // Función para cerrar el modal de confirmación de ticket
    function closeConfirmationModal() {
      confirmationModal.classList.add('hidden');
    }

    // Evento al hacer clic en el botón de abrir el modal de confirmación de ticket
    openConfirmationModalButton.addEventListener('click', openConfirmationModal);
    // Evento al hacer clic en el botón de confirmar ticket
    confirmTicketButton.addEventListener('click', closeConfirmationModal);
  </script>
</body>

